<button class="button-exam" title="Click for reset" (click)="resetExam()">EXAM FOR GENIUS</button>
<br>
<div>
  <!-- <span>{{quesions$ | async}}</span> -->
  <table>
    <tr style="vertical-align: top;">
      <td>
        <div>
          <table>
            <tr *ngFor="let question of quesions$ | async">
              <td style="width: 150px;">
                <button [ngClass]="getQuestionClass(question.status)"
                  (click)="selectQuestion(question)">{{question.content}}</button>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="padding-left">
        <div class="answer-pad">
          <table>
            <tr>
              <td>
                <div class="selected-query-content">{{getSelectedQuestionContent()}}</div>
              </td>
            </tr>
            <tr>
              <div>
                <td *ngFor="let answer of answers$ | async">
                  <button [ngClass]="getAnswerClass()" (click)="checkAnswer(answer)">{{answer}}</button>
                </td>
              </div>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
  <h3>Your grade is: {{grade}}%</h3>
</div>
