.answer {
  width: 60px;
  padding: 6px;
  margin-left: 20px;
  margin-top: 60px;
  font-size: large;
}

.question {
  background: #f0f0f0; /* Цвет фона */
  border: 1px solid black; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  margin-bottom: 10px; /* Отступ снизу */
  // margin-bottom: 60px;
  vertical-align: top;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  text-align: center;
}

.answer-pad {
  background: #f0f0f0; /* Цвет фона */
  border: 1px solid black; /* Параметры рамки */
  padding: 15px; /* Поля вокруг текста */
  margin-top: 5px; /* Отступ снизу */
  // margin-bottom: 60px;
  vertical-align: top;
  border-radius: 8px;
  width: 360px;
  height: 170px;
}

.selected-question {
  //  .question;
  background-color: greenyellow;
}

.answered-question {
  //  .question;
  background-color: lightslategray;
}

.selected-query-content {
  width: 300;
  height: 30px;
  text-align: left;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 20px;
}

.padding-left {
  padding-left: 2em;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
