.answer {
  width: 60px;
  padding: 6px;
  margin-left: 20px;
  margin-top: 60px;
  font-size: large;
}

.button-question {
  background: #f0f0f0;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  vertical-align: top;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  text-align: center;
}

.selected-question {
  //  .question;
  background-color: lightblue;
}

.disabled {
  pointer-events: none;
  // opacity: 0.3;
}

button {
  border: 1px solid #0066cc;
  //  background-color: #0099cc;
  color: black;
  padding: 5px 10px;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  // padding: 5px 10px;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}

.answer-pad {
  background: #f0f0f0; /* Цвет фона */
  border: 1px solid black; /* Параметры рамки */
  padding: 15px; /* Поля вокруг текста */
  margin-top: 5px; /* Отступ снизу */
  // margin-bottom: 60px;
  vertical-align: top;
  border-radius: 8px;
  width: 360px;
  height: 170px;
}

.correct-answered-question {
  color: black;
  background-color: lightgreen;
}

.wrong-answered-question {
  //  .question;
  background-color: rgb(250, 104, 104)
}
.selected-query-content {
  width: 300;
  height: 30px;
  text-align: left;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 20px;
}

.padding-left {
  padding-left: 2em;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
